html,body{
  height:100%;
  width:100%;
  font-size: 100%;
}

body{
  background:rgb(252,183,85);
  padding:2%;
  font-family: 'Oswald', sans-serif;
  font-size:1em;
}

h1{color:gray;}

h2{
  color:white;
}

div{
  width: 500px;
  max-width:80%;
  padding:1em;
  background:silver;
  border:1px solid #ccc;
  background:#fff;
}

img{
  max-width:100%;
  height:auto;
}
